html, body, .container-fluid {
	background-color: #eeeeee;
	font-family: 'Quicksand', sans-serif;
}
.navbar {
	border: none;
}
.navbar .container-fluid {
	background: #2c262a; /* Old browsers */
	background: -moz-linear-gradient(left,  #2c262a 0%, #604a52 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #2c262a 0%,#604a52 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #2c262a 0%,#604a52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c262a', endColorstr='#604a52',GradientType=1 ); /* IE6-9 */
}

.navbar-header {
	width: 100%;
	display: table;
	padding: 20px 0;
}
.navbar h1, .navbar .home {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	text-decoration: none !important;
}
.navbar .home, .navbar .home a {
	color: #ffffff;
	text-decoration: none !important;
	text-align: right;
}
.title {
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
.title h1 {
	margin: 0;
	font-weight: 600;
	font-size: 24px;
	padding: 12px 0;
}
input[type="range"] {
	-webkit-box-shadow: none;
	box-shadow: none;
}
input[type="range"]:focus, input[type="range"]:active {
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.input-group-addon.anno {
	min-width: 60px;
	border: none;
	padding: 0;
	text-align: left;
}
#selettore {
	margin-bottom: 30px;
}
@media all and (min-width: 992px) {
	#selettore .form-group {
		margin-bottom: 30px;
	}
}

.contenitore {
	padding: 10px 15px;
}
.contenitore, canvas {
	height: 400px;
	border-radius: 4px;
}
.contenitore.empty {
	height: auto;
}
.title, .contenitore, .info {
	background-color: #ffffff;
	margin-bottom: 30px;
	box-shadow: 1px 1px 10px #dadada;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
}

.spinner {
	height: 50px;
	width: 50px;
	border: 8px solid #A2DED0;
	border-radius: 50%;
	position: relative;
	-webkit-animation: spinneranim 2s infinite linear;
	animation: spinneranim 2s infinite linear;
	margin: auto;
}  

.spinner:before {
	content: '';
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background-color: #16A085;
	position: absolute;
	top: -7px;
	left: 14px;
}

@-webkit-keyframes spinneranim {
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}   
@keyframes spinneranim {
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}